<h1>Повідомлення</h1>


<% if @new_messages.count > 0 %>
  <h2>Нові повідомлення</h2>
<% end %>
<div id="new_messages">
<ul>
  <% @friends.each do |friend| %>
  <% if friend.i > 0 %>
    <li>
      <%= link_to friend.author.name, dm_path(:id => friend.author.id) %> - <%= friend.i %> нових повідомлень
    </li>
    <% end %>
  <% end %>
  </ul>
</div>
<hr>
<h2>Вхідні</h2>
<div id="messages">
<ul>
  <% @friends.each do |friend| %>
    <li>
      <%= link_to friend.author.name, dm_path(:id => friend.author.id) %>
    </li>
  <% end %>
  </ul>
</div>
<h2>Пошук друга</h2>
<%= form_with(url: '/search_user', method: 'post', local: true) do |f| %>
  <%= f.text_field :search_name, placeholder: "Ім'я користувача..." %>
  <%= f.submit("Пошук") %>
<% end %>